/* CSS RESET - https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   /* Use a more-intuitive box-sizing model */
}
body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {  /* Improve media defaults */
    display: block;
    max-width: 100%;
}
input, button, textarea, select {   /* Remove built-in form typography styles */
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {   /* Avoid text overflows */
    overflow-wrap: break-word;
}
#root, #__next {  /* Create a root stacking context - This last one is optional. It's generally only needed if you use a JS framework like React.*/
    isolation: isolate;
}
/* Number Input - Hide Increament/decreament arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.3);
}


/* START */

.mycontainer {
    /* border: 0.5px solid blue; */
    padding: 24px;
    width: 100%;
    max-width: 1300px;
    height: 100%;
}


/* FONT SIZES */

.fs-h1 {
    font-size: clamp(2.25rem, 0.9499rem + 5.547vw, 4.5rem);
    font-weight: 500;
    line-height: 1;
}
.fs-h2 {
    font-size: clamp(1.6rem, 1.4411rem + 0.678vw, 1.875rem);
    font-weight: 500;
    line-height: 1.2;
}
.fs-h3 {
    font-size: clamp(1.25rem, 1.1055rem + 0.6163vw, 1.5rem);
    line-height: 1.3;
}
.fs-base {
    font-size: clamp(0.875rem, 0.7305rem + 0.6163vw, 1.125rem);
    line-height: 1.5;
}
.fs-caption {
    font-size: clamp(0.625rem, 0.5528rem + 0.3082vw, 0.75rem);
    line-height: 1.5;
}


/* React Select Drop Down Styles */
.react-select-dropdown > div:first-of-type {
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
}
.react-select-dropdown > div:first-of-type:focus-within {
    box-shadow: none;
}
.react-select-dropdown > div:first-of-type > div:first-of-type > div {
    color: var(--color-text);
}
.react-select-dropdown > div:first-of-type > div:last-of-type > div {
    color: var(--color-text);
}
.react-select-dropdown > div:first-of-type > div:last-of-type > span {
    display: none;
}
/* Menu */
.react-select-dropdown > [class*="menu"] > div,
.react-select-dropdown > [class*="menu"] > div > div {
    background-color: var(--color-background);
    color: var(--color-text);
}
.react-select-dropdown > [class*="menu"] > div > div:hover {
    background-color: var(--color-card-background);
}

/* Year Month Filters Dropdown */
.year-month-filter .react-select-dropdown > div:first-of-type{
    background-color: var(--color-icon-fill);
    width: 150px;
    padding: 5px;
}
.year-month-filter .react-select-dropdown > div:first-of-type > div:first-of-type > div {
    color: white;
}
.year-month-filter .react-select-dropdown > div:first-of-type > div:last-of-type > div {
    color: white;
}