@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-background: black;
        --color-text: white;
        --color-text-faded: grey;
        --color-border: white;
        --color-card-background: grey;
        --color-icon-fill: #0000ff;
        --color-icon-fill-red: red;
    }

    [data-theme="dark"] {
        --color-background: #1c1c1c;
        --color-text: #f7f6f6;
        --color-text-faded: #a0a0a0;
        --color-border: #2e2e2e;
        --color-card-background: #262626;
    }
    
    [data-theme="light"] {
        --color-background: #f7f6f6;
        --color-text: #1c1c1c;
        --color-text-faded: #585656;
        --color-border: #dddddd;
        --color-card-background: #fbfbfb;
    }
}